/* 默认主题样式优化 */
	/* 首页优化 ↓ */
	/* 菜单栏左上角 LOGO 高度 */
	.Header-logo {
		max-height: 25px !important;
	}
	
	/* 固定左侧标签栏 */
	@media (min-width: 992px) {
		.sideNav,
		.sideNav>ul {
			width: 190px;
			position: sticky;
			top: 80px;
		}
		.App {
			overflow-x: visible;
		}
	}

	/* 信息流右侧展示谷歌侧边栏广告 */
	li.item-flagrow-ad .sideads {
		position: absolute;
		left: 1120px;
		top: 0;
		width: 190px;
	}
		/* 根据屏幕宽度调整位置 */
	@media (max-width:1570px) and (min-width:1000px) {
		.IndexPage .container {
			margin-right: 20%;
		}
		.Hero .container, .UserDirectoryList .container { /* 让 Hearo banner 不受此影响 */
		    margin-right: auto;
		}
	}

	/* 搜索结果关键字背景色 */
	.DiscussionListItem-main mark {
		background: #ffff80 !important;
	}

	/* Cookie div 颜色 */
	a.cc-link:hover {
		color: #E7672E !important;
	}
	.cc-message {
		font-size: 12px;
		white-space: pre-wrap;
		line-height: initial;
	}
	
	/* 讨论页优化 ↓ */
	/* 个人发的帖子左侧高亮标记 */
	.CommentPost.Post--by-actor {
		border-left: solid @config-primary-color;
	}
	
	/* 不显示点赞栏阴影 */
	footer.Post-footer {
		box-shadow: none;
		background-color: #fff0;
	}
	
	/* 帖子反应表情位置修正 */
	.Reactions .CommentPost--Reactions {
		max-width: 160px !important;
		left: -28% !important;
	}
	@media (max-width: 992px) {
		.Reactions .CommentPost--Reactions{
			left: auto !important;
			right: 0 !important;
		}
	}
	
	/* 不要在全部标签页上展示竖排、信息流广告，以及在线用户、论坛统计 */
	.TagsPage .item-flagrow-ad,
	.TagsPage .Flagrow-Ads-fake-poststream-item,
	.TagsPage .item-onlineUsers,
	.TagsPage .item-forumStatisticsWidget {
		display: none !important;
	}
	
	/* 会员名录页优化 ↓ */
	/* 会员名录页, 首页加载更多按钮尺寸 */
	.UserDirectoryList-loadMore .Button,
	.DiscussionList-loadMore .Button {
		width: 100%;
	}
	
	/* 统一最近访客头像大小 */
	img.Avatar.lastUser-avatar {
		width: 35px;
		height: 35px;
	}
	fieldset.LastUsers ul li a span.lastUser-avatar {
		width: 35px !important;
	}
	
	/* 帖子内容页优化 ↓ */
	/* upload img 帖子图片居中100%显示 */
	.Post .Post-body img.inline-image {
		max-height: 420px;
		max-width: 100%;
		margin: 0;
	}
	
	/* [img]图片最小显示宽度取消 */
	.Post img.block-image {
		min-width: auto !important;
		margin: 0 !important;
	}
	
	/* 视频宽度跟随帖子宽度 */
	video {
		max-width: -webkit-fill-available;
	}
	
	/* BBBBCode 弹窗宽度 */
	.popcontainer {
		width: auto;
	}
	
	/* 增加Steam风格黑幕 */
	.steam_spoiler {
		color: #000000;
		background-color: #000000;
		padding: 0px 8px;
	}
	.steam_spoiler:hover {
		color: #FFF;
	}
	
	/* 个人主页优化 ↓ */
	/* 资料卡片排版 */
	.UserCard-info>li {
		/* 单元格换行显示 */
		display: block;
	}
	li.item-lastSeen,
	li.item-joined,
	li.item-fab,
	li.item-profile-views,
	li.item-money,
	li.social-button,
	li.item-settings.social-button {
		/* 上次在线,注册时间,社交链接,一行显示 */
		display: inline-block !important;
	}
	
	/* 用户状态 */
	.ClarkWinkelmannStatus {
		margin-top: 15px;
	}
	
	

	/* 全局↓ */
	/* 字体 */
	html body {
		font-family: sans-serif, Roboto, Helvetica, Arial, system-ui, -apple-system, BlinkMacSystemFont, 'System Emoji', "Segoe UI", Ubuntu, Cantarell, Oxygen, Helvetica, 'System SC', 'System Latin';
	}
	
	/*返回顶部按钮 开始*/
	.scroll-up {
		background-color: #f8504b;
		/*初始颜色*/
		color: #ffffff;
		/*文字白色*/
		transition: transform 0.5s;
		/*设置效果出现、消失过渡时间*/
	}
	.scroll-up:hover,
	.scroll-up:focus {
		/*悬浮、点击样式*/
		background-color: #f8504b;
		color: #ffffff;
		transform: scale(1.1, 1.1);
		/*缩放*/
		transition: all 100ms;
		/*动画过渡*/
	}
	.scroll-up {
		border-radius: 50px;
		/*圆角*/
		bottom: 70px;
		/*距离网页底部*/
		padding: 3px;
		display: none;
		height: 50px;
		/*圆高度*/
		opacity: 1;
		position: fixed;
		right: 10px;
		/*距离网页右边*/
		text-align: center;
		/*文本居中*/
		width: 50px;
		/*圆宽度*/
		overflow: hidden;
		/*属性规定当内容溢出元素框时，修剪多余内容*/
		z-index: 9999;
		/*设置元素的堆叠顺序（在网页的图层顺序），拥有更高堆叠顺序的元素总是会处于堆叠顺序较低的元素的前面*/
		line-height: 2.5;
		color: #ffffff;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
	}
	@media (max-width: 992px) {
		.scroll-up {
			bottom: 60px;
			right: 10px;
			width: 40px;
			height: 40px;
		}
	}
	/*返回顶部结束*/

	/* 隐藏文本编辑器 MD 图片按钮 */
	#MarkdownToolbar button[title="Add an image"],
	#MarkdownToolbar button[title="图片"],
	#MarkdownToolbar button[title="新增圖片"],
	#MarkdownToolbar button[title="画像を追加"] {
		display: none;
	}

	/* 隐藏文本编辑器原生 emoji 选择器 */
	.TextEditor-toolbar button[data-original-title="表情"],
	.TextEditor-toolbar button[data-original-title="插入表情符號"],
	.TextEditor-toolbar button[data-original-title="Insert emoji"] {
		display: none;
	}

	/* 菜单栏 LOGO 左侧通知按钮 */
	#Announce {
		position: fixed !important;
	}
	.Announce--Show.fas.fa-bullhorn.false {
		color: #f00 !important;
	}
	i.Announce--Show.fas.fa-bullhorn {
		border-radius: 50%;
		box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5);
		animation: announce-pulse 1.5s 2;
	}
	@keyframes announce-pulse {
		0% {
			transform: scale(0.9);
		}

		70% {
			transform: scale(1);
			box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
		}

		100% {
			transform: scale(0.9);
			box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
		}
	}

	/* 黑暗模式优化 */
	body.dark .PostUser-bar.PostUser-bar--empty {
		background: #1b2028;
	}

	body.dark select.Select-input.FormControl {
		background: #1b2028;
	}

	body.dark a.PostMention {
		background: #232a35;
	}
	body.dark i.fa.fa-chevron-up {
		color: #FFF;
	}
	
	/* 手机端优化 ↓ */
	/* 手机端显示草稿按钮 */
	@media (max-width: 767px) {
		.normal .ComposerBody-header>li:first-child {
			margin-left: 75px;
			margin-right: 75px;
		}
	
		.Composer:not(.minimized) .Composer-controls li.item-save-draft {
			display: block;
			position: absolute !important;
			z-index: 1001;
			top: 0 !important;
			left: 35px;
	
			>.Button {
				height: 46px;
				padding: 13px !important;
			}
		}
	
		/* 手机端，在会员名录隐藏发送全体邮件按钮，首页加载更多按钮默认宽度 */
		.IndexPage-toolbar-action li.item-kilowhat-mailing {
			display: none;
		}
	
		.DiscussionList-loadMore .Button {
			width: auto;
		}
	}
	/* mobile */
	@media(max-width:1000px) {
	
		/* 移动端不显示在线用户、谷歌竖排广告 */
		.item-onlineUsers,
		.item-flagrow-ad {
			display: none !important;
		}
	
		.RankingPage.sideNavOffset {
			/* 排行最外div */
			width: 100%;
			margin-left: 0;
		}
	
		nav.TagsPage-nav.IndexPage-nav.sideNav {
			display: none;
		}
	
		/* 手机端不显示论坛统计 */
		.item-forumStatisticsWidget {
			display: none !important;
		}
	
		/* 1000 宽度下隐藏标签栏的y滚动轴 */
	
		nav.IndexPage-nav.sideNav {
			overflow-y: hidden;
		}
	}
	/* 手机端底部导航栏 */
	.DiscussionList:not(.DiscussionList--searchResults) .read .DiscussionListItem-title {
		color: #000 !important;
	}
	.ComposerBody-header h3 {
		margin: 0;
		line-height: 1.5em;
		color: #000 !important;
	}
	.PollOption-active {
		background-color: #49b4e6 !important;
	}
	@media(max-width: 500px) {
		.mobile-app-icon-bar {
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-align-items: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-justify-content: space-around;
			-ms-flex-pack: distribute;
			justify-content: space-around;
			background: none;
			position: sticky;
			bottom: 0;
			width: 100%;
			height: 48px;
			z-index: 2;
			/*border: 1px solid #fff !important;*/
		}
		/* addthis 上移 */
		.at-expanding-share-button[data-position=bottom-right] {
		    bottom: 58px !important;
		}
		.scroll-up {
		    bottom: 108px;
		}
	}
	.buttonstyle.active {
		color: #fff !important;
	}
	.buttonstyle {
		width: 100%;
		height: 100%;
		display: block;
		flex-direction: column;
		align-items: center;
		background: #E7672E !important;
		color: #ffffff !important;
		border: none;
		margin-top: 4px;
	}
	.spanstyle {
		font-size: 10px;
		margin-top: 5px;
	}
	.mobile-app-icon-bar button {
		padding: 0.75rem !important;
		cursor: pointer;
	}
	.mobile-app-icon-bar button svg,
	.mobile-app-icon-bar button i,
	.mobile-app-icon-bar button img {}
	@media(min-width: 800px) {
		.mobile-app-icon-bar {
			display: none !important;
		}
	}
	
	/* 页脚 ↓ */
	footer {
		/*设置页脚上下外边距、左右边距平均分配*/
		background-color: #fff;
		padding: 0;
		margin: 0;
		width: 100%;
		/*与网页同宽*/
		box-shadow: 0 -2px 8px #eee;
		/*阴影*/
	}
	
	.footer-content {
		width: 800px;
		margin: 0 auto;
		padding: 50px 0;
		/*上下外边距*/
		display: flex;
		flex-wrap: nowrap;
		/*不换行*/
		justify-content: space-between;
	}
	
	.site-info p.cpright {
	    padding-top: 10px;
	    border-top: 1px solid lightgray;
		margin-top: 15px;
	}
	
	.site-info,
	.cc-footer-license {
		width: 3800px;
		/*两个区块的宽度*/
		color: #aaabab;
		/*区块内文字颜色*/
	}
	
	.site-info {
		text-align: left;
		/*文本左对齐*/
		line-height: 100%;
		/*文字行高*/
		padding-right: 20px;
	}
	
	.site-info a,
	.cc-footer-license a {
		/*设置页脚超链接文字的颜色*/
		color: #aaabab;
		text-decoration: none;
	}
	
	.site-info a:hover,
	.cc-footer-license a:hover {
		/*设置页脚超链接鼠标悬停颜色*/
		color: #ea4c89;
	}
	/* 页脚 ↑ */
	
	/* 页脚响应式设计 ↓ */
	@media (max-width:1000px) {
	
		/*使用CSS媒体查询来完成响应式设计。当括号中的表达式值为false时，执行大括号中的语句。*/
		/*浏览器宽度小于1000px时，执行下方的语句*/
		.footer-content {
			/*对主要的三大区块和页脚区块同时设置共同的样式*/
			width: 90%;
			/*内容区域的宽度。我们希望整个网页内容显示宽度就这么宽，所以接下来的每一个主盒子内容宽度都保持一致*/
			margin: 0 auto;
			/*上下外边距为0，右左外边距为auto自动平均分配：左右一样多→居中。*/
		}
	
		.footer-content {
			margin: 0 auto;
			padding: 30px 0;
			/*上下外边距*/
			display: block;
		}
	
		.footer-content .site-info,
		.cc-footer-license {
			margin-bottom: 0px;
			width: 100%;
		}
	
		.site-info {
			margin-top: 10px;
			padding-right: 0px;
		}
	}
	
	/* 页脚响应式设计 ↑ */
	
	/* 页脚黑暗模式 */
	.dark footer.bottomFooter {
		background-color: #13181e;
		box-shadow: 0 -2px 8px #00000059;
	}
	
	/* 页脚动画 */
	.xintiao {
		/* 心跳动画 */
		-webkit-animation: tongtong 0.8s infinite cubic-bezier(0.13, 1.04, 0.83, 1.28);
		animation: tongtong 0.8s infinite cubic-bezier(0.13, 1.04, 0.83, 1.28);
		display: inline-block;
		margin: 0 5px;
	}
	
	@-webkit-keyframes tongtong {
	
		/* 心跳 */
		0% {
			-webkit-transform: scale(1)
		}
	
		50% {
			-webkit-transform: scale(.8)
		}
	
		to {
			-webkit-transform: scale(1)
		}
	}
	
	@keyframes tongtong {
		0% {
			-webkit-transform: scale(1);
			transform: scale(1)
		}
	
		50% {
			-webkit-transform: scale(.8);
			transform: scale(.8)
		}
	
		to {
			-webkit-transform: scale(1);
			transform: scale(1)
		}
	}
	
	.my-face {
		/* 页脚笑脸动画 */
		-webkit-animation: haha 5s infinite ease-in-out;
		animation: haha 5s infinite ease-in-out;
		display: inline-block;
		margin: 0 5px;
	}
	
	@-webkit-keyframes haha {
	
		2%,
		24%,
		80% {
			-webkit-transform: translate(0, 1.5px) rotate(1.5deg);
			transform: translate(0, 1.5px) rotate(1.5deg)
		}
	
		4%,
		68%,
		98% {
			-webkit-transform: translate(0, -1.5px) rotate(-.5deg);
			transform: translate(0, -1.5px) rotate(-.5deg)
		}
	
		38%,
		6% {
			-webkit-transform: translate(0, 1.5px) rotate(-1.5deg);
			transform: translate(0, 1.5px) rotate(-1.5deg)
		}
	
		8%,
		86% {
			-webkit-transform: translate(0, -1.5px) rotate(-1.5deg);
			transform: translate(0, -1.5px) rotate(-1.5deg)
		}
	
		10%,
		72% {
			-webkit-transform: translate(0, 2.5px) rotate(1.5deg);
			transform: translate(0, 2.5px) rotate(1.5deg)
		}
	
		12%,
		64%,
		78%,
		96% {
			-webkit-transform: translate(0, -.5px) rotate(1.5deg);
			transform: translate(0, -.5px) rotate(1.5deg)
		}
	
		14%,
		54% {
			-webkit-transform: translate(0, -1.5px) rotate(1.5deg);
			transform: translate(0, -1.5px) rotate(1.5deg)
		}
	
		16% {
			-webkit-transform: translate(0, -.5px) rotate(-1.5deg);
			transform: translate(0, -.5px) rotate(-1.5deg)
		}
	
		18%,
		22% {
			-webkit-transform: translate(0, .5px) rotate(-1.5deg);
			transform: translate(0, .5px) rotate(-1.5deg)
		}
	
		20%,
		36%,
		46% {
			-webkit-transform: translate(0, -1.5px) rotate(2.5deg);
			transform: translate(0, -1.5px) rotate(2.5deg)
		}
	
		26%,
		50% {
			-webkit-transform: translate(0, .5px) rotate(.5deg);
			transform: translate(0, .5px) rotate(.5deg)
		}
	
		28% {
			-webkit-transform: translate(0, .5px) rotate(1.5deg);
			transform: translate(0, .5px) rotate(1.5deg)
		}
	
		30%,
		40%,
		62%,
		76%,
		88% {
			-webkit-transform: translate(0, -.5px) rotate(2.5deg);
			transform: translate(0, -.5px) rotate(2.5deg)
		}
	
		32%,
		34%,
		66% {
			-webkit-transform: translate(0, 1.5px) rotate(-.5deg);
			transform: translate(0, 1.5px) rotate(-.5deg)
		}
	
		42% {
			-webkit-transform: translate(0, 2.5px) rotate(-1.5deg);
			transform: translate(0, 2.5px) rotate(-1.5deg)
		}
	
		44%,
		70% {
			-webkit-transform: translate(0, 1.5px) rotate(.5deg);
			transform: translate(0, 1.5px) rotate(.5deg)
		}
	
		48%,
		74%,
		82% {
			-webkit-transform: translate(0, -.5px) rotate(.5deg);
			transform: translate(0, -.5px) rotate(.5deg)
		}
	
		52%,
		56%,
		60% {
			-webkit-transform: translate(0, 2.5px) rotate(2.5deg);
			transform: translate(0, 2.5px) rotate(2.5deg)
		}
	
		58% {
			-webkit-transform: translate(0, .5px) rotate(2.5deg);
			transform: translate(0, .5px) rotate(2.5deg)
		}
	
		84% {
			-webkit-transform: translate(0, 1.5px) rotate(2.5deg);
			transform: translate(0, 1.5px) rotate(2.5deg)
		}
	
		90% {
			-webkit-transform: translate(0, 2.5px) rotate(-.5deg);
			transform: translate(0, 2.5px) rotate(-.5deg)
		}
	
		92% {
			-webkit-transform: translate(0, .5px) rotate(-.5deg);
			transform: translate(0, .5px) rotate(-.5deg)
		}
	
		94% {
			-webkit-transform: translate(0, 2.5px) rotate(.5deg);
			transform: translate(0, 2.5px) rotate(.5deg)
		}
	
		0%,
		100% {
			-webkit-transform: translate(0, 0) rotate(0);
			transform: translate(0, 0) rotate(0)
		}
	}
	
	@keyframes haha {
	
		2%,
		24%,
		80% {
			/* -webkit-transform: translate(0, 1.5px) rotate(1.5deg); */
			/* transform: translate(0, 1.5px) rotate(1.5deg); */
		}
	
		4%,
		68%,
		98% {
			/* -webkit-transform: translate(0, -1.5px) rotate(-.5deg); */
			/* transform: translate(0, -1.5px) rotate(-.5deg) */
		}
	
		38%,
		6% {
			/* -webkit-transform: translate(0, 1.5px) rotate(-1.5deg); */
			/* transform: translate(0, 1.5px) rotate(-1.5deg); */
		}
	
		8%,
		86% {
			-webkit-transform: translate(0, -1.5px) rotate(-1.5deg);
			transform: translate(0, -1.5px) rotate(-1.5deg)
		}
	
		10%,
		72% {
			-webkit-transform: translate(0, 2.5px) rotate(1.5deg);
			transform: translate(0, 2.5px) rotate(1.5deg)
		}
	
		12%,
		64%,
		78%,
		96% {
			-webkit-transform: translate(0, -.5px) rotate(1.5deg);
			transform: translate(0, -.5px) rotate(1.5deg)
		}
	
		14%,
		54% {
			-webkit-transform: translate(0, -1.5px) rotate(1.5deg);
			transform: translate(0, -1.5px) rotate(1.5deg)
		}
	
		16% {
			-webkit-transform: translate(0, -.5px) rotate(-1.5deg);
			transform: translate(0, -.5px) rotate(-1.5deg)
		}
	
		18%,
		22% {
			-webkit-transform: translate(0, .5px) rotate(-1.5deg);
			transform: translate(0, .5px) rotate(-1.5deg)
		}
	
		20%,
		36%,
		46% {
			-webkit-transform: translate(0, -1.5px) rotate(2.5deg);
			transform: translate(0, -1.5px) rotate(2.5deg)
		}
	
		26%,
		50% {
			-webkit-transform: translate(0, .5px) rotate(.5deg);
			transform: translate(0, .5px) rotate(.5deg)
		}
	
		28% {
			-webkit-transform: translate(0, .5px) rotate(1.5deg);
			transform: translate(0, .5px) rotate(1.5deg)
		}
	
		30%,
		40%,
		62%,
		76%,
		88% {
			-webkit-transform: translate(0, -.5px) rotate(2.5deg);
			transform: translate(0, -.5px) rotate(2.5deg)
		}
	
		32%,
		34%,
		66% {
			-webkit-transform: translate(0, 1.5px) rotate(-.5deg);
			transform: translate(0, 1.5px) rotate(-.5deg)
		}
	
		42% {
			-webkit-transform: translate(0, 2.5px) rotate(-1.5deg);
			transform: translate(0, 2.5px) rotate(-1.5deg)
		}
	
		44%,
		70% {
			-webkit-transform: translate(0, 1.5px) rotate(.5deg);
			transform: translate(0, 1.5px) rotate(.5deg)
		}
	
		48%,
		74%,
		82% {
			-webkit-transform: translate(0, -.5px) rotate(.5deg);
			transform: translate(0, -.5px) rotate(.5deg)
		}
	
		52%,
		56%,
		60% {
			-webkit-transform: translate(0, 2.5px) rotate(2.5deg);
			transform: translate(0, 2.5px) rotate(2.5deg)
		}
	
		58% {
			-webkit-transform: translate(0, .5px) rotate(2.5deg);
			transform: translate(0, .5px) rotate(2.5deg)
		}
	
		84% {
			-webkit-transform: translate(0, 1.5px) rotate(2.5deg);
			transform: translate(0, 1.5px) rotate(2.5deg)
		}
	
		90% {
			-webkit-transform: translate(0, 2.5px) rotate(-.5deg);
			transform: translate(0, 2.5px) rotate(-.5deg)
		}
	
		92% {
			-webkit-transform: translate(0, .5px) rotate(-.5deg);
			transform: translate(0, .5px) rotate(-.5deg)
		}
	
		94% {
			-webkit-transform: translate(0, 2.5px) rotate(.5deg);
			transform: translate(0, 2.5px) rotate(.5deg)
		}
	
		0%,
		100% {
			-webkit-transform: translate(0, 0) rotate(0);
			transform: translate(0, 0) rotate(0)
		}
	}
	
/* 鼠年主题 */
/* PC端 */
@media (min-width: 768px){
	/* 首页 ↓ */
	/* Hero Banner */
	.Hero {
	    background-color: #ffffff70;
		color: #000000;
		/* opacity: 0.5; */
	}
	.Hero h2{
		font-weight: bolder;
	}
	/* 删除banner上边框 */
	.App-content {
	    border-top: none;
	}
	/* Loading */
	div#flarum-loading {
	    color: white;
	    text-shadow: 0px 0px 2px white;
	}
	/* 加载提示 */
	.spinner div{
		box-shadow: 0 0 2px white;
	}
	/* 一生二二生三 */
	.Placeholder p {
	    color: white;
	    text-shadow: 0 0 1px white;
	}

	/* 春节背景 */
	/* 中间背景 */
	div#app{
		background-color: #e36c82;
		background-image: radial-gradient(circle at 10% 0%, #e05972, rgba(255, 255, 255, 0) 100%),
		radial-gradient(circle at left bottom, #ee9f8e, rgba(255, 255, 255, 0) 100%);
	}
	/* 祥云 */
	.lantern{
		z-index: 0;
		position: sticky;
	}
	i.lantern1 {
		background-image: url(https://cdn.jsdelivr.net/gh/Littlegolden/CDN/img/xiangYun.svg);
		position: absolute;
		background-repeat: no-repeat;
		display: block;
		width: 200px;
		height: 200px;
		right: 10%;
		top: 2.25rem;	
		transform: rotate(-15deg);
		opacity: 0.2;
	}
	i.lantern2 {
		background-image: url(https://cdn.jsdelivr.net/gh/Littlegolden/CDN/img/xiangYun.svg);
		position: absolute;
		background-repeat: no-repeat;
		display: block;
		width: 200px;
		height: 200px;
		transform: rotate(58deg);
		opacity: 0.2;
		top: 40rem;
		left: -0.9375rem;
	}
	i.lantern3{
		background-image: url(https://cdn.jsdelivr.net/gh/Littlegolden/CDN/img/xiangYun.svg);
		position: fixed;
		background-repeat: no-repeat;
		display: block;
		width: 200px;
		height: 200px;
		right: 0%;
		bottom: -2.8125rem;
		transform: rotate(-220deg);
		opacity: 0.2;
	}
	/* 摇摆灯笼 */
	.polaroid {
		position: absolute;
		left: 45%;
		top: 22%;
		width: 500px;
		height: 500px;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		-webkit-animation: swing 3.5s ease-in-out forwards infinite;
		animation: swing 3.5s ease-in-out forwards infinite;
		-webkit-transform-origin: 50% -10em;
		transform-origin: 50% -10em;
	}
	
	@-webkit-keyframes swing {
		0% {
			-webkit-transform: translateX(-50%) rotate(10deg);
			transform: translateX(-50%) rotate(10deg);
		}
	
		50% {
			-webkit-transform: translateX(-50%) rotate(-10deg) skewX(5deg) skewY(-2deg) scale(1.1);
			transform: translateX(-50%) rotate(-10deg) skewX(5deg) skewY(-2deg) scale(1.1);
		}
	
		100% {
			-webkit-transform: translateX(-50%) rotate(10deg);
			transform: translateX(-50%) rotate(10deg);
		}
	}
	
	@keyframes swing {
		0% {
			-webkit-transform: translateX(-50%) rotate(10deg);
			transform: translateX(-50%) rotate(10deg);
		}
	
		50% {
			-webkit-transform: translateX(-50%) rotate(-10deg) skewX(5deg) skewY(-2deg) scale(1.1);
			transform: translateX(-50%) rotate(-10deg) skewX(5deg) skewY(-2deg) scale(1.1);
		}
	
		100% {
			-webkit-transform: translateX(-50%) rotate(10deg);
			transform: translateX(-50%) rotate(10deg);
		}
	}
	
	.yaobai{
		overflow: hidden;
		position: sticky;
		top: 0;
	}
	.dizi{
		background: url(https://cdn.jsdelivr.net/gh/Littlegolden/CDN/img/20200121234221_01025Lantern.png) no-repeat;
		display: block;
		height: 800px;
		width: 400px;
		position: fixed;
		top: -145px;
		left: 10%;
	}
	
	/* 标签栏,在线用户 */
	.sideNav .Dropdown--select,
	.UserPage .sideNavOffset,
	.item-onlineUsers {
		display: block;
		background: #fff;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 5px;
		padding-bottom: 5px;
		box-shadow: 0 1px 5px 0 rgba(151,158,181,.28)!important;
		border-radius: 6px;
	}
	/* 统计 */
	li.item-forumStatisticsWidget, fieldset.LastUsers, .LastUsers legend {
		background: #fff;
		padding-left: 5px;
		padding-top: 5px;
		padding-bottom: 5px;
		box-shadow: 0 1px 5px 0 rgba(151,158,181,.28);
		border-radius: 6px;
		box-sizing: content-box;
	}
	
	/* 帖子 */
	.DiscussionListItem {
		position: relative;
		margin: 0;
		padding: 0;
		border-radius: 5px;
		margin-top: 18px;
	}
	.DiscussionListItem-main .DiscussionListItem-info .item-excerpt {
		color: #191919 !important;
		text-shadow: 0px 0px 5px white;
	}
	.DiscussionPage .CommentPost {
		border-radius: 8px;
		margin-top: 20px;
		box-shadow: 0 4px 30px 0 rgba(0,0,0,0.1);
		background: #fff;
	}
	/* 帖子计数,标题栏等按钮颜色 */
	.App-header .Button{
		color: white;
	}
	.IndexPage .DiscussionListItem-count, .App-header .Button--link, .App-header .Search-input{
		color: white;
	}
	.App-header .Button:hover{
		color: white;
		text-shadow: 0 0 2px white;
	}
	.NotificationList-header .Button:hover{
		color: #af353b;
	}
		/* 全部已读按钮颜色不受此影响 */
		.NotificationList-header .Button {
		    color: #667d99;
		}
		
	/* 帖子设置按钮 */
	.DiscussionListItem-controls {
		z-index: 99;
	}
	/* 帖子头像 */
	.DiscussionListItem-content img.Avatar, .DiscussionListItem-content span.Avatar{
		border: 2px solid #fff2ae;
	}
	/* 帖子春节灯笼 */
	.IndexPage .DiscussionListItem:before {
		content: '';
		position: absolute;
		background-image: url('https://cdn.jsdelivr.net/gh/Littlegolden/CDN/img/Lantern_Shadow_69x186.png');
		background-size: cover;
		background-repeat: no-repeat;
		z-index: 1;
		display: block;
		width: 46px;
		height: 100%;
		left: -14px;
		top: 1px;
	}
	.IndexPage .DiscussionListItem:after {
		content: '';
		position: absolute;
		background-image: url('https://cdn.jsdelivr.net/gh/Littlegolden/CDN/img/Lantern_Shadow_69x186_r.png');
		background-size: cover;
		background-repeat: no-repeat;
		z-index: 1;
		display: block;
		width: 46px;
		height: 100%;
		top: 1px;
		right: -10px;
	}
	.IndexPage .DiscussionListItem:hover{
		background: none;
	}
	.IndexPage .IndexPage-results .DiscussionListItem-content {
		padding-left: 80px;
		padding-right: 80px;
		padding-top: 0;
		border-radius: 25px;
		border: 3px solid #f9bd89;
		box-shadow: 0px 1px 1px #c68045 inset, 0px 1px 2px #861e25, 0px 5px 5px rgba(90, 90, 90, 0.4);
		background-color: #ed4e60;
		background-image: 
			radial-gradient(circle at left bottom, #c23b41 0%, rgba(255, 255, 255, 0) 100%),
			radial-gradient(circle at right bottom, #c23b41 5%, rgba(255, 255, 255, 0) 100%),
			radial-gradient(circle at bottom, #c23b41 5%, rgba(255, 255, 255, 0) 100%);
	}
	.IndexPage .DiscussionListItem-content:hover{
		background-image: 
			radial-gradient(circle at left bottom, #9c181d 0%,rgba(255,255,255,0) 100%),
			radial-gradient(circle at right bottom, #ad252b 5%, rgba(255,255,255,0) 100%),
			radial-gradient(circle at bottom, #d64d53 5%, rgba(255,255,255,0) 100%);
	}
	.IndexPage h3.DiscussionListItem-title{
		font-weight: bolder;
		color: #feff9e;
		text-shadow: 0px 2px 5px #52050d;
	}
	.IndexPage .DiscussionList:not(.DiscussionList--searchResults) .read .DiscussionListItem-title {
		color: #ffd9ac !important;
		text-shadow: 0px 2px 8px #901e1e;
	}
	.IndexPage ul.DiscussionListItem-info{
		color:#e8e8e8;
	}
	
	/* 按钮 */
	.IndexPage-toolbar .Button, .DiscussionList-loadMore .Button {
		background-color: #ffd7ac;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3686274509803922);
		color: #191919;
	}
	.IndexPage-nav .item-newDiscussion .Button, .IndexPage .SubscriptionMenu{
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3686274509803922);
	}
	
	/* 会员名录页 ↓ */
	.IndexPage .sideNavOffset {
	    z-index: 2;
	}
	
	/* 帖子内容页 ↓ */
	/* 帖子右侧信息滚动条 */
	.Scrubber-handle{
		background: none;
	}
	.Scrubber a, .Scrubber-description{
		color: white;
	}
	.CommentPost.Post--by-actor { /* 个人发的帖子左侧线条 */
		border-left: solid #ffffff;
	}
	/* 最佳答案 */
	li.item-bestAnswerPost .CommentPost {
		padding: 5px;
		margin-top: 0;
	}
	/* 谷歌广告文字提示 */
	.Flagrow-Ads-between-posts p{
		text-shadow: 1px 1px 1px white, 1px -1px 1px white, -1px 1px 1px white, -1px -1px 1px white;
	}
	.EventPost, .DiscussionPage-stream .ReplyPlaceholder, .DiscussionPage-stream .PostStream-timeGap{
		text-shadow: 1px 1px 1px white, 1px -1px 1px white, -1px 1px 1px white, -1px -1px 1px white;
	}
	
	/* 个人主页 ↓ */
	.UserPage .UserCard-profile { /* 社交卡片 */
		text-shadow: 0px 0px 4px white;
	}
	.sideNavOffset.UserPage-content { /* 回复列表 */
		z-index: 1;
	}
	.UserPage .DiscussionList-discussions {
		margin: 0;
		padding: 0;
		list-style-type: none;
		position: relative;
	}
	.UserPage ul.DiscussionList-discussions>li:not(:last-child){
		border-bottom: 1px solid #eaedf1;
		margin: 15px 0;
	}
	.UserPage .DiscussionListItem-content{
		margin-bottom: 15px;
	}
	
	/* 全局 */
	/* 头套 */
	.UserPage .Hero .UserCard-avatar:before {/* 个人主页 */
		content: "";
		background: url(https://cdn.jsdelivr.net/gh/Littlegolden/CDN/img/ratHat_156x106.png)no-repeat;
		display: block;
		background-size: cover;
		width: 8.875rem;
		height: 6.125rem;
		position: absolute;
		background-repeat: no-repeat;
		top: -0.625rem;
		left: -1.4375rem;
	}
	.IndexPage .DiscussionListItem-author:before { /* 首页信息流头像 */
		content: "";
		background: url(https://cdn.jsdelivr.net/gh/Littlegolden/CDN/img/ratHat_66x45.png)no-repeat;
		display: block;
		background-size: cover;
		width: 60px;
		height: 40px;
		position: absolute;
		background-repeat: no-repeat;
		z-index: 1;
		top: 8px;
		left: 17px;
	}
	.DiscussionListItem-badges .Badge {/* 显示在帽子之上 */
		z-index: 2;
	}
	fieldset>ul>li { /* 个人主页访客 */
		position: relative;
	}
	fieldset.LastUsers li:before {
		content: "";
		background: url(https://cdn.jsdelivr.net/gh/Littlegolden/CDN/img/ratHat_66x45.png)no-repeat;
		display: flex;
		background-size: cover;
		width: 52px;
		height: 35px;
		position: absolute;
		background-repeat: no-repeat;
		z-index: 1;
		top: -5px;
		left: -9px;
	}
	.DiscussionPage .PostUser:before {/* 讨论页 */
		content: "";
		background: url(https://cdn.jsdelivr.net/gh/Littlegolden/CDN/img/ratHat_113x77.png)no-repeat;
		display: block;
		background-size: cover;
		width: 102px;
		height: 70px;
		position: absolute;
		background-repeat: no-repeat;
		z-index: 1;
		top: -10px;
		left: -103px;
	}
	.DiscussionPage .PostUser-badges .Badge { /* 用户组标识往上一层 */
		margin-left: -10px;
		position: relative;
		pointer-events: auto;
		z-index: 2;
	}
	.DiscussionPage .item-bestAnswerPost .PostUser:before { /* 最佳答案前不显示 */
		content: "";
		background: none;
	}

}
	
/* 全局 */
/* 鼠年勋章 */
	i.icon.fas.fa-rat.Badge-icon {
	    position: relative;
	}
	i.icon.fas.fa-rat:before {
	    content: "";
	    background: url(https://cdn.jsdelivr.net/gh/Littlegolden/CDN/img/20200122010954_ratYearIco.svg);
	    position: absolute;
	    display: block;
		width: 25px;
		height: 25px;
		top: -18px;
		left: -10px;
	}