/* 默认主题样式优化 */
	/* 首页优化 ↓ */
		/* 菜单栏左上角 LOGO 高度 */
		.Header-logo {
			max-height: 25px !important;
		}
		
		/* 帖子浏览次数位置与评论次数对齐 */
		@media (min-width: 768px){
		    .IndexPage li.item-discussion-views {
		        margin-right: -70px;
		        width: 55px;
		    }
		}
		
		/* 显示最新回复插件的图片调整 */
		.IndexPage .DiscussionList .item-lastpost img {
			max-height: 40px;
		}
		
		/* 固定左侧标签栏 */
		@media (min-width: 992px) {
			.sideNav,
			.sideNav>ul {
				width: 190px;
				position: sticky;
				top: 80px;
			}
			.App {
				overflow-x: visible;
			}
		}

		/* 信息流右侧展示谷歌侧边栏广告 */
		li.item-flagrow-ad .sideads {
			position: absolute;
			left: 1120px;
			top: 0;
			width: 190px;
		}
			/* 根据屏幕宽度调整位置 */
		@media (max-width:1570px) and (min-width:1000px) {
			.IndexPage .container {
				margin-right: 20%;
			}
			.Hero .container, .UserDirectoryList .container { /* 让 Hearo banner 不受此影响 */
				margin-right: auto;
			}
		}

		/* 搜索结果关键字背景色 */
		.DiscussionListItem-main mark {
			background: #ffff80 !important;
		}

		/* Cookie div 颜色 */
		a.cc-link:hover {
			color: #E7672E !important;
		}
		.cc-message {
			font-size: 12px;
			white-space: pre-wrap;
			line-height: initial;
		}
	
	/* 讨论页帖子优化 ↓ */
		/* 固定帖子页右侧侧边栏 */
		@media (min-width: 768px){
			.DiscussionPage-nav {
				position: sticky;
				top: 60px;
				z-index: 1;
			}
			.DiscussionPage-nav>ul{
				position:relative;
			}
			.Post { /* 防止影响一楼的高度 */ 	
			    display: flow-root;
			}
		}
		
		/* 个人发的帖子左侧高亮标记 */
		.DiscussionPage .CommentPost.Post--by-actor {
			border-left: solid @config-primary-color;
		}
		
		/* 不显示点赞栏阴影 */
		footer.Post-footer {
			box-shadow: none;
			background-color: #fff0;
		}
		
		/* 帖子反应表情位置修正 */
		.Reactions .CommentPost--Reactions {
			max-width: 160px !important;
			left: -28% !important;
		}
		@media (max-width: 992px) {
			.Reactions .CommentPost--Reactions{
				left: auto !important;
				right: 0 !important;
			}
		}
		
		/* upload img 帖子图片居中100%显示 */
		.Post .Post-body img.inline-image {
			max-height: 420px;
			max-width: 100%;
			margin: 0;
		}
		
		/* [img]图片最小显示宽度取消 */
		.Post img.block-image {
			min-width: auto !important;
			margin: 0 !important;
		}
		
		/* 视频宽度跟随帖子宽度 */
		video {
			max-width: -webkit-fill-available;
		}
		
		/* BBBBCode 弹窗宽度 */
		.popcontainer {
			width: auto;
		}
		
		/* 增加Steam风格黑幕 */
		.steam_spoiler {
			color: #000000;
			background-color: #000000;
			padding: 0px 8px;
		}
		.steam_spoiler:hover {
			color: #FFF;
		}
		
		
		/* 信息流广告宽度限制 */
		.Flagrow-Ads-fake-poststream-item {
			overflow: hidden;
		}
		
		/* 不要在全部标签页上展示竖排、信息流广告，以及在线用户、论坛统计 */
		.TagsPage .item-flagrow-ad,
		.TagsPage .Flagrow-Ads-fake-poststream-item,
		.TagsPage .item-onlineUsers,
		.TagsPage .item-forumStatisticsWidget {
			display: none !important;
		}
		
		
	
	/* 会员名录页优化 ↓ */
		/* 会员名录页, 首页加载更多按钮尺寸 */
		.UserDirectoryList-loadMore .Button,
		.DiscussionList-loadMore .Button {
			width: 100%;
		}
		
		/* 统一最近访客头像大小 */
		img.Avatar.lastUser-avatar {
			width: 35px;
			height: 35px;
		}
		fieldset.LastUsers ul li a span.lastUser-avatar {
			width: 35px !important;
		}
		
	/* 个人主页优化 ↓ */
		/* 资料卡片排版 */
		.UserCard-info>li {
			/* 单元格换行显示 */
			display: block;
		}
		li.item-pronouns,
		li.item-lastSeen,
		li.item-joined,
		li.item-fab,
		li.item-profile-views,
		li.item-money,
		li.social-button,
		li.item-settings.social-button {
			/* 人称代词,上次在线,注册时间,社交链接,一行显示 */
			display: inline-block !important;
		}
		
		/* 用户状态 */
		.ClarkWinkelmannStatus {
			margin-top: 15px;
		}
	
	

	/* 全局↓ */
		/* 字体 */
		html body {
			font-family: sans-serif, Roboto, Helvetica, Arial, system-ui, -apple-system, BlinkMacSystemFont, 'System Emoji', "Segoe UI", Ubuntu, Cantarell, Oxygen, Helvetica, 'System SC', 'System Latin';
		}
		
		/* 加载进度条 */
		.pace {
		  -webkit-pointer-events: none;
		  pointer-events: none;
		  -webkit-user-select: none;
		  -moz-user-select: none;
		  user-select: none;
		}
		
		.pace-inactive {
		  display: none;
		}
		
		.pace .pace-progress {
		  background: #29d;
		  position: fixed;
		  z-index: 2000;
		  top: 0;
		  right: 100%;
		  width: 100%;
		  height: 2px;
		}
		
		.pace .pace-progress-inner {
		  display: block;
		  position: absolute;
		  right: 0px;
		  width: 100px;
		  height: 100%;
		  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
		  opacity: 1.0;
		  -webkit-transform: rotate(3deg) translate(0px, -4px);
		  -moz-transform: rotate(3deg) translate(0px, -4px);
		  -ms-transform: rotate(3deg) translate(0px, -4px);
		  -o-transform: rotate(3deg) translate(0px, -4px);
		  transform: rotate(3deg) translate(0px, -4px);
		}
		
		.pace .pace-activity {
		  display: block;
		  position: fixed;
		  z-index: 2000;
		  top: 15px;
		  right: 15px;
		  width: 14px;
		  height: 14px;
		  border: solid 2px transparent;
		  border-top-color: #29d;
		  border-left-color: #29d;
		  border-radius: 10px;
		  -webkit-animation: pace-spinner 400ms linear infinite;
		  -moz-animation: pace-spinner 400ms linear infinite;
		  -ms-animation: pace-spinner 400ms linear infinite;
		  -o-animation: pace-spinner 400ms linear infinite;
		  animation: pace-spinner 400ms linear infinite;
		}
		
		@-webkit-keyframes pace-spinner {
		  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
		  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
		}
		@-moz-keyframes pace-spinner {
		  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
		  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
		}
		@-o-keyframes pace-spinner {
		  0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
		  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
		}
		@-ms-keyframes pace-spinner {
		  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
		  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
		}
		@keyframes pace-spinner {
		  0% { transform: rotate(0deg); transform: rotate(0deg); }
		  100% { transform: rotate(360deg); transform: rotate(360deg); }
		}

		
		/*返回顶部按钮 开始*/
		.scroll-up {
			background-color: #f8504b;
			/*初始颜色*/
			color: #ffffff;
			/*文字白色*/
			transition: transform 0.5s;
			/*设置效果出现、消失过渡时间*/
		}
		.scroll-up:hover,
		.scroll-up:focus {
			/*悬浮、点击样式*/
			background-color: #f8504b;
			color: #ffffff;
			transform: scale(1.1, 1.1);
			/*缩放*/
			transition: all 100ms;
			/*动画过渡*/
		}
		.scroll-up {
			border-radius: 50px;
			/*圆角*/
			bottom: 70px;
			/*距离网页底部*/
			padding: 3px;
			display: none;
			height: 50px;
			/*圆高度*/
			opacity: 1;
			position: fixed;
			right: 10px;
			/*距离网页右边*/
			text-align: center;
			/*文本居中*/
			width: 50px;
			/*圆宽度*/
			overflow: hidden;
			/*属性规定当内容溢出元素框时，修剪多余内容*/
			z-index: 9999;
			/*设置元素的堆叠顺序（在网页的图层顺序），拥有更高堆叠顺序的元素总是会处于堆叠顺序较低的元素的前面*/
			line-height: 2.5;
			color: #ffffff;
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
		}
		@media (max-width: 992px) {
			.scroll-up {
				bottom: 60px;
				right: 10px;
				width: 40px;
				height: 40px;
			}
		}
		/*返回顶部结束*/

		/* 隐藏文本编辑器 MD 图片按钮 */
		#MarkdownToolbar button[title="Add an image"],
		#MarkdownToolbar button[title="图片"],
		#MarkdownToolbar button[title="新增圖片"],
		#MarkdownToolbar button[title="画像を追加"] {
			display: none;
		}

		/* 隐藏文本编辑器原生 emoji 选择器 */
		.TextEditor-toolbar button[data-original-title="表情"],
		.TextEditor-toolbar button[data-original-title="插入表情符號"],
		.TextEditor-toolbar button[data-original-title="Insert emoji"] {
			display: none;
		}

		/* 菜单栏 LOGO 左侧通知按钮 */
		#Announce {
			position: fixed !important;
		}
		.Announce--Show.fas.fa-bullhorn.false {
			color: #f00 !important;
		}
		i.Announce--Show.fas.fa-bullhorn {
			border-radius: 50%;
			box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5);
			animation: announce-pulse 1.5s 2;
		}
		@keyframes announce-pulse {
			0% {
				transform: scale(0.9);
			}

			70% {
				transform: scale(1);
				box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
			}

			100% {
				transform: scale(0.9);
				box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
			}
		}

		/* 黑暗模式优化 */
		body.dark .PostUser-bar.PostUser-bar--empty {
			background: #1b2028;
		}

		body.dark select.Select-input.FormControl {
			background: #1b2028;
		}

		body.dark a.PostMention {
			background: #232a35;
		}
		body.dark i.fa.fa-chevron-up {
			color: #FFF;
		}
	
	/* 手机端优化 ↓ */
		/* 手机端显示草稿按钮 */
		@media (max-width: 767px) {
			.normal .ComposerBody-header>li:first-child {
				margin-left: 75px;
				margin-right: 75px;
			}
		
			.Composer:not(.minimized) .Composer-controls li.item-save-draft {
				display: block;
				position: absolute !important;
				z-index: 1001;
				top: 0 !important;
				left: 35px;
		
				>.Button {
					height: 46px;
					padding: 13px !important;
				}
			}
		
			/* 手机端, 在会员名录隐藏发送全体邮件按钮, 隐藏最近浏览帖子的人, 首页加载更多按钮默认宽度 */
			.IndexPage-toolbar-action li.item-kilowhat-mailing,
			li.item-lastDiscussionViewers{
				display: none;
			}
		
			.DiscussionList-loadMore .Button {
				width: auto;
			}
		}
		/* mobile */
		@media(max-width:1000px) {
		
			/* 移动端不显示在线用户、谷歌竖排广告 */
			.item-onlineUsers,
			.item-flagrow-ad {
				display: none !important;
			}
		
			.RankingPage.sideNavOffset {
				/* 排行最外div */
				width: 100%;
				margin-left: 0;
			}
		
			nav.TagsPage-nav.IndexPage-nav.sideNav {
				display: none;
			}
		
			/* 手机端不显示论坛统计 */
			.item-forumStatisticsWidget {
				display: none !important;
			}
		
			/* 1000 宽度下隐藏标签栏的y滚动轴 */
		
			nav.IndexPage-nav.sideNav {
				overflow-y: hidden;
			}
		}
		/* 手机端底部导航栏 */
		.DiscussionList:not(.DiscussionList--searchResults) .read .DiscussionListItem-title {
			color: #000 !important;
		}
		.ComposerBody-header h3 {
			margin: 0;
			line-height: 1.5em;
			color: #000 !important;
		}
		.PollOption-active {
			background-color: #49b4e6 !important;
		}
		@media(max-width: 500px) {
			.mobile-app-icon-bar {
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				-webkit-align-items: center;
				-ms-flex-align: center;
				align-items: center;
				-webkit-justify-content: space-around;
				-ms-flex-pack: distribute;
				justify-content: space-around;
				background: none;
				position: sticky;
				bottom: 0;
				width: 100%;
				height: 48px;
				z-index: 2;
				/*border: 1px solid #fff !important;*/
			}
			/* addthis 上移 */
			.at-expanding-share-button[data-position=bottom-right] {
				bottom: 58px !important;
			}
			.scroll-up {
				bottom: 108px;
			}
		}
		.buttonstyle.active {
			color: #fff !important;
		}
		.buttonstyle {
			width: 100%;
			height: 100%;
			display: block;
			flex-direction: column;
			align-items: center;
			background: @config-primary-color;
			color: #ffffff;
			border: none;
			margin-top: 4px;
		}
		.spanstyle {
			font-size: 10px;
			margin-top: 5px;
		}
		.mobile-app-icon-bar button {
			padding: 0.75rem !important;
			cursor: pointer;
		}
		.mobile-app-icon-bar button svg,
		.mobile-app-icon-bar button i,
		.mobile-app-icon-bar button img {}
		@media(min-width: 800px) {
			.mobile-app-icon-bar {
				display: none !important;
			}
		}
	
	/* 页脚 ↓ */
		footer {
			/*设置页脚上下外边距、左右边距平均分配*/
			background-color: #fff;
			padding: 0;
			margin: 0;
			width: 100%;
			/*与网页同宽*/
			box-shadow: 0 -2px 8px #eee;
			/*阴影*/
		}
		
		.footer-content {
			width: 800px;
			margin: 0 auto;
			padding: 50px 0;
			/*上下外边距*/
			display: flex;
			flex-wrap: nowrap;
			/*不换行*/
			justify-content: space-between;
		}
		
		.site-info p.cpright {
			padding-top: 10px;
			border-top: 1px solid lightgray;
			margin-top: 15px;
		}
		
		.site-info,
		.cc-footer-license {
			width: 3800px;
			/*两个区块的宽度*/
			color: #aaabab;
			/*区块内文字颜色*/
		}
		
		.site-info {
			text-align: left;
			/*文本左对齐*/
			line-height: 100%;
			/*文字行高*/
			padding-right: 20px;
		}
		
		.site-info a,
		.cc-footer-license a {
			/*设置页脚超链接文字的颜色*/
			color: #aaabab;
			text-decoration: none;
		}
		
		.site-info a:hover,
		.cc-footer-license a:hover {
			/*设置页脚超链接鼠标悬停颜色*/
			color: #ea4c89;
		}
		/* 页脚 ↑ */
		
		/* 页脚响应式设计 ↓ */
		@media (max-width:1000px) {
		
			/*使用CSS媒体查询来完成响应式设计。当括号中的表达式值为false时，执行大括号中的语句。*/
			/*浏览器宽度小于1000px时，执行下方的语句*/
			.footer-content {
				/*对主要的三大区块和页脚区块同时设置共同的样式*/
				width: 90%;
				/*内容区域的宽度。我们希望整个网页内容显示宽度就这么宽，所以接下来的每一个主盒子内容宽度都保持一致*/
				margin: 0 auto;
				/*上下外边距为0，右左外边距为auto自动平均分配：左右一样多→居中。*/
			}
		
			.footer-content {
				margin: 0 auto;
				padding: 30px 0;
				/*上下外边距*/
				display: block;
			}
		
			.footer-content .site-info,
			.cc-footer-license {
				margin-bottom: 0px;
				width: 100%;
			}
		
			.site-info {
				margin-top: 10px;
				padding-right: 0px;
			}
		}
		
		/* 页脚响应式设计 ↑ */
		
		/* 页脚黑暗模式 */
		.dark footer.bottomFooter {
			background-color: #13181e;
			box-shadow: 0 -2px 8px #00000059;
		}
		
		/* 页脚动画 */
		.xintiao {
			/* 心跳动画 */
			-webkit-animation: tongtong 0.8s infinite cubic-bezier(0.13, 1.04, 0.83, 1.28);
			animation: tongtong 0.8s infinite cubic-bezier(0.13, 1.04, 0.83, 1.28);
			display: inline-block;
			margin: 0 5px;
		}
		
		@-webkit-keyframes tongtong {
		
			/* 心跳 */
			0% {
				-webkit-transform: scale(1)
			}
		
			50% {
				-webkit-transform: scale(.8)
			}
		
			to {
				-webkit-transform: scale(1)
			}
		}
		
		@keyframes tongtong {
			0% {
				-webkit-transform: scale(1);
				transform: scale(1)
			}
		
			50% {
				-webkit-transform: scale(.8);
				transform: scale(.8)
			}
		
			to {
				-webkit-transform: scale(1);
				transform: scale(1)
			}
		}
		
		.my-face {
			/* 页脚笑脸动画 */
			-webkit-animation: haha 5s infinite ease-in-out;
			animation: haha 5s infinite ease-in-out;
			display: inline-block;
			margin: 0 5px;
		}
		
		@-webkit-keyframes haha {
		
			2%,
			24%,
			80% {
				-webkit-transform: translate(0, 1.5px) rotate(1.5deg);
				transform: translate(0, 1.5px) rotate(1.5deg)
			}
		
			4%,
			68%,
			98% {
				-webkit-transform: translate(0, -1.5px) rotate(-.5deg);
				transform: translate(0, -1.5px) rotate(-.5deg)
			}
		
			38%,
			6% {
				-webkit-transform: translate(0, 1.5px) rotate(-1.5deg);
				transform: translate(0, 1.5px) rotate(-1.5deg)
			}
		
			8%,
			86% {
				-webkit-transform: translate(0, -1.5px) rotate(-1.5deg);
				transform: translate(0, -1.5px) rotate(-1.5deg)
			}
		
			10%,
			72% {
				-webkit-transform: translate(0, 2.5px) rotate(1.5deg);
				transform: translate(0, 2.5px) rotate(1.5deg)
			}
		
			12%,
			64%,
			78%,
			96% {
				-webkit-transform: translate(0, -.5px) rotate(1.5deg);
				transform: translate(0, -.5px) rotate(1.5deg)
			}
		
			14%,
			54% {
				-webkit-transform: translate(0, -1.5px) rotate(1.5deg);
				transform: translate(0, -1.5px) rotate(1.5deg)
			}
		
			16% {
				-webkit-transform: translate(0, -.5px) rotate(-1.5deg);
				transform: translate(0, -.5px) rotate(-1.5deg)
			}
		
			18%,
			22% {
				-webkit-transform: translate(0, .5px) rotate(-1.5deg);
				transform: translate(0, .5px) rotate(-1.5deg)
			}
		
			20%,
			36%,
			46% {
				-webkit-transform: translate(0, -1.5px) rotate(2.5deg);
				transform: translate(0, -1.5px) rotate(2.5deg)
			}
		
			26%,
			50% {
				-webkit-transform: translate(0, .5px) rotate(.5deg);
				transform: translate(0, .5px) rotate(.5deg)
			}
		
			28% {
				-webkit-transform: translate(0, .5px) rotate(1.5deg);
				transform: translate(0, .5px) rotate(1.5deg)
			}
		
			30%,
			40%,
			62%,
			76%,
			88% {
				-webkit-transform: translate(0, -.5px) rotate(2.5deg);
				transform: translate(0, -.5px) rotate(2.5deg)
			}
		
			32%,
			34%,
			66% {
				-webkit-transform: translate(0, 1.5px) rotate(-.5deg);
				transform: translate(0, 1.5px) rotate(-.5deg)
			}
		
			42% {
				-webkit-transform: translate(0, 2.5px) rotate(-1.5deg);
				transform: translate(0, 2.5px) rotate(-1.5deg)
			}
		
			44%,
			70% {
				-webkit-transform: translate(0, 1.5px) rotate(.5deg);
				transform: translate(0, 1.5px) rotate(.5deg)
			}
		
			48%,
			74%,
			82% {
				-webkit-transform: translate(0, -.5px) rotate(.5deg);
				transform: translate(0, -.5px) rotate(.5deg)
			}
		
			52%,
			56%,
			60% {
				-webkit-transform: translate(0, 2.5px) rotate(2.5deg);
				transform: translate(0, 2.5px) rotate(2.5deg)
			}
		
			58% {
				-webkit-transform: translate(0, .5px) rotate(2.5deg);
				transform: translate(0, .5px) rotate(2.5deg)
			}
		
			84% {
				-webkit-transform: translate(0, 1.5px) rotate(2.5deg);
				transform: translate(0, 1.5px) rotate(2.5deg)
			}
		
			90% {
				-webkit-transform: translate(0, 2.5px) rotate(-.5deg);
				transform: translate(0, 2.5px) rotate(-.5deg)
			}
		
			92% {
				-webkit-transform: translate(0, .5px) rotate(-.5deg);
				transform: translate(0, .5px) rotate(-.5deg)
			}
		
			94% {
				-webkit-transform: translate(0, 2.5px) rotate(.5deg);
				transform: translate(0, 2.5px) rotate(.5deg)
			}
		
			0%,
			100% {
				-webkit-transform: translate(0, 0) rotate(0);
				transform: translate(0, 0) rotate(0)
			}
		}
		
		@keyframes haha {
		
			2%,
			24%,
			80% {
				/* -webkit-transform: translate(0, 1.5px) rotate(1.5deg); */
				/* transform: translate(0, 1.5px) rotate(1.5deg); */
			}
		
			4%,
			68%,
			98% {
				/* -webkit-transform: translate(0, -1.5px) rotate(-.5deg); */
				/* transform: translate(0, -1.5px) rotate(-.5deg) */
			}
		
			38%,
			6% {
				/* -webkit-transform: translate(0, 1.5px) rotate(-1.5deg); */
				/* transform: translate(0, 1.5px) rotate(-1.5deg); */
			}
		
			8%,
			86% {
				-webkit-transform: translate(0, -1.5px) rotate(-1.5deg);
				transform: translate(0, -1.5px) rotate(-1.5deg)
			}
		
			10%,
			72% {
				-webkit-transform: translate(0, 2.5px) rotate(1.5deg);
				transform: translate(0, 2.5px) rotate(1.5deg)
			}
		
			12%,
			64%,
			78%,
			96% {
				-webkit-transform: translate(0, -.5px) rotate(1.5deg);
				transform: translate(0, -.5px) rotate(1.5deg)
			}
		
			14%,
			54% {
				-webkit-transform: translate(0, -1.5px) rotate(1.5deg);
				transform: translate(0, -1.5px) rotate(1.5deg)
			}
		
			16% {
				-webkit-transform: translate(0, -.5px) rotate(-1.5deg);
				transform: translate(0, -.5px) rotate(-1.5deg)
			}
		
			18%,
			22% {
				-webkit-transform: translate(0, .5px) rotate(-1.5deg);
				transform: translate(0, .5px) rotate(-1.5deg)
			}
		
			20%,
			36%,
			46% {
				-webkit-transform: translate(0, -1.5px) rotate(2.5deg);
				transform: translate(0, -1.5px) rotate(2.5deg)
			}
		
			26%,
			50% {
				-webkit-transform: translate(0, .5px) rotate(.5deg);
				transform: translate(0, .5px) rotate(.5deg)
			}
		
			28% {
				-webkit-transform: translate(0, .5px) rotate(1.5deg);
				transform: translate(0, .5px) rotate(1.5deg)
			}
		
			30%,
			40%,
			62%,
			76%,
			88% {
				-webkit-transform: translate(0, -.5px) rotate(2.5deg);
				transform: translate(0, -.5px) rotate(2.5deg)
			}
		
			32%,
			34%,
			66% {
				-webkit-transform: translate(0, 1.5px) rotate(-.5deg);
				transform: translate(0, 1.5px) rotate(-.5deg)
			}
		
			42% {
				-webkit-transform: translate(0, 2.5px) rotate(-1.5deg);
				transform: translate(0, 2.5px) rotate(-1.5deg)
			}
		
			44%,
			70% {
				-webkit-transform: translate(0, 1.5px) rotate(.5deg);
				transform: translate(0, 1.5px) rotate(.5deg)
			}
		
			48%,
			74%,
			82% {
				-webkit-transform: translate(0, -.5px) rotate(.5deg);
				transform: translate(0, -.5px) rotate(.5deg)
			}
		
			52%,
			56%,
			60% {
				-webkit-transform: translate(0, 2.5px) rotate(2.5deg);
				transform: translate(0, 2.5px) rotate(2.5deg)
			}
		
			58% {
				-webkit-transform: translate(0, .5px) rotate(2.5deg);
				transform: translate(0, .5px) rotate(2.5deg)
			}
		
			84% {
				-webkit-transform: translate(0, 1.5px) rotate(2.5deg);
				transform: translate(0, 1.5px) rotate(2.5deg)
			}
		
			90% {
				-webkit-transform: translate(0, 2.5px) rotate(-.5deg);
				transform: translate(0, 2.5px) rotate(-.5deg)
			}
		
			92% {
				-webkit-transform: translate(0, .5px) rotate(-.5deg);
				transform: translate(0, .5px) rotate(-.5deg)
			}
		
			94% {
				-webkit-transform: translate(0, 2.5px) rotate(.5deg);
				transform: translate(0, 2.5px) rotate(.5deg)
			}
		
			0%,
			100% {
				-webkit-transform: translate(0, 0) rotate(0);
				transform: translate(0, 0) rotate(0)
			}
		}
	
/* 全局 */
/* 鼠年勋章 */
	i.icon.fas.fa-rat.Badge-icon {
	    position: relative;
	}
	i.icon.fas.fa-rat:before {
	    content: "";
	    background: url(https://cdn.jsdelivr.net/gh/Littlegolden/CDN/img/20200122010954_ratYearIco.svg);
	    position: absolute;
	    display: block;
		width: 25px;
		height: 25px;
		top: -18px;
		left: -10px;
	}